html,
body{
    margin: 0px;
    padding: 0px;
}
.brand{
    color:rgb(116, 10, 10);
    margin-left: 40px;
    font-weight: bolder;
}
.main-nav{
    font-family: 'Courier New', Courier, monospace;
    /* height: 15vh; */
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(116, 10, 10);
    overflow: hidden;
}

.nav-links{
    display: flex;
    /* width:60%; */
    align-items: center;
    /* height: 100%; */
    list-style: none;
    justify-content: space-between;
}

.nav-links a{
    text-decoration: none;
    color: rgb(116, 10, 10);
    padding:  100% 25px;
    
}
.nav-links a:hover{
    background: rgb(116, 10, 10);
    color: #dddddd;
}

.section-label{
    color: rgb(116, 10, 10);
    font-size: 24px;
}

.form{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-dashboard,
.request-header{
    display: flex;
    justify-content:center;
    align-items:center;
}
.admin-dashboard a{
    position: absolute;
    right: 40px;
    text-decoration: none;
    padding: 10px 15px;
    border: solid 1px rgb(116, 10, 10);
    border-radius: 5px;
    color: rgb(116, 10, 10);
}
.admin-dashboard a:hover{
    border-radius: 5px;
    color: #dddddd;
    background: rgb(116, 10, 10);
}

.row{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    margin:20px 60px 0px 60px;
}
.row a{
    text-decoration:none;
    color: rgb(116, 10, 10);
}
.card{
    padding:30px 0;
    border-radius: 10px;
    background: #ddd;
    box-shadow:-2px -2px 4px #555;
}
.card i{
    font-size: 80px;
}

form input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=date],
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
.reg-form{
    margin-bottom: 80px;
}

form input[type=submit]{
    padding: 8px 10px;
    border-radius: 5px;
    border-style: none;
}

.main-footer{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    border-top: 2px solid rgb(116, 10, 10);
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: #0f8b24;
    height: 10vh;
    width: 100%;
    bottom: 0px;
}